:root {
    /* colours and typography*/
    
        /* basic colours */
        --white-color: #fff;
        --black-color: #000;
        --success-color: #7DBE57;
        --warning-color: #F18F01;
        --error-color: #E62121;

        /* primary colours */
        --primary-blue-100: #c9d1e6;
        --primary-blue-300: #8a9cc9;
        --primary-blue-500: #506bae;
        --primary-blue-700: #394c7c;
        --primary-blue-900: #222d49;

        /* secondary colours */
        --secondary-beige-100: #f4f0ea;
        --secondary-beige-300: #e7dfd1;
        --secondary-beige-500: #dbcfbb;
        --secondary-beige-700: #9b9385;
        --secondary-beige-900: #5c574f;

        /* analogous colours */
            --analogous-blue-100: #e4ebf0;
            --analogous-blue-300: #c5d5e0;
            --analogous-blue-500: #a8c0d0;
            --analogous-blue-700: #778894;
            --analogous-blue-900: #475157;
          

        /* neutral */
        --neutral-blue-100: #b6bbce;
        --neutral-blue-300: #626d94;
        --neutral-blue-500: #152560;
        --neutral-blue-700: #0f1a44;
        --neutral-blue-900: #091028;

        --font-family: Helvetica, sans-serif;

    /* Font weight */
    --bold-weight: 700;
    --thin-weight: 400;

    /* font size */
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --bodytext-font-size: 16px;
    --caption-font-size: 14px;
    --label-font-size: 12px; 

}